body {
  padding: 20px;
}

.navbar-brand:hover {
  animation: shake 0.3s ease infinite;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.navbar-text a {
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  .navbar-toggler {
    display: none;
  }
}

p {
  font-size: 20px;
}

section h1 {
  display: inline-block;
  border-bottom: 0.5px solid black;
}

section img {
  border-radius: 5px;
}

.copy-message {
  position: fixed;
  font-weight: bold;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 1s ease;
}

.copy-message.show {
  opacity: 1;
}
section button {
  width: 200px;  
  padding: 5px 0px;
  background: linear-gradient(
    45deg,
    #ff6b6b,
    #feca57,
    #ff9ff3,
    #48dbfb,
    #1dd1a1,
    #f368e0
  );
  border-radius: 4px;
  border: none;
  transition: 0.3s all ease;
}
section button:hover {
  color: white;
  font-weight: bold;
}

.code {
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
}
pre {
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
  max-width: 800px;
  width: 100%;
}

footer {
  text-align: center;
}
