* {
  font-family: 'Inconsolata', monospace;
}

body {
  padding: 20px;
}

.navbar-brand:hover {
  animation: shake 0.3s ease infinite;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.navbar-text a {
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  .navbar-toggler {
    display: none;
  }
}

p {
  font-size: 20px;
}

section h1 {
  display: inline-block;
  border-bottom: 0.5px solid black;
}

section img {
  border-radius: 5px;
}


pre {
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
  max-width: 800px;
  width: 100%;
}

footer {
  text-align: center;
}

#copyNotification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: none;
}


/* Styles for the copied code */
code {
  display: block;
  background-color: #f4f4f4;
  padding: 15px;
  
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: auto;
}

.cdn {
  background-color: rgb(141, 211, 29);
  width: 50%;
  color: black;
}
@media only screen and (max-width: 600px) {
  .cdn {
    width: 85%;
  }
}

.ani-btn-b {
  padding: 9px;
  margin-bottom: 20px;
}
.ani-txt-a {
  animation: bounceAnimation 2s ease-in-out forwards infinite;
}

.ani-btn-m {
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 2.5px;
}

.forbb {
  border: 0.5px solid black;
  padding: 5%;
}
.forbb2 {
  border: 0.5px solid black;
  padding: 10%;
}
@media only screen and (max-width: 600px) {
  .forbb2 {
    padding: 5%;
  }
}

.previewcdn {
  display: block;
  margin-bottom: 5px;
}
.preview {
  display: block;
  border: 0.3px solid pink;
  margin-bottom: 5px;
}